@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'SKMerih-Medium';
    src: url('/fonts/SKMerih-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DrukWideLCGMedium';
    src: url('/fonts/DrukWideLCGMedium.ttf') format('truetype');
  }
  

@font-face {
    font-family: 'uto';
    src: url('/fonts/uto.ttf') format('truetype');
}

@font-face {
    font-family: 'Uto-Regular';
    src: url('/fonts/Uto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'uto-light';
    src: url('/fonts/uto-light.ttf') format('truetype');
}
.merih {
    font-family: 'SKMerih-Medium', sans-serif;
}
.druk-super{
    font-family: 'DrukWideLCGMedium', sans-serif;
  }
  

.uto {
    font-family: 'uto', sans-serif;
}

.uto-regular {
    font-family: 'Uto-Regular', sans-serif;
}

.uto-light {
    font-family: 'uto-light', sans-serif;
}

.inter {
    font-family: "Inter", sans-serif;
    font-style: normal;
  }

.pop {
    font-family: "Poppins", sans-serif;
    font-style: normal;
  }

 
